<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="card card-fluid">
      <h3 class="card-header"> INDEX de Images => mejorar index.html.erb</h3>

      <div class="card-body">

        <div class="text-right">
        </div>

        <div class="table-responsive">
          <table class="table table-bordered table-hover table-sm">
            <thead class="thead-light">
            <tr>
              <th> COLUM 1 # </th>
              <th> COLUM 2 # </th>
              <th> COLUM 3 # </th>
              <th> COLUM 4 # </th>
              <th> COLUM 5 # </th>
              
            </tr>
            </thead>
            <tbody>
              <tr>
                <td> Element 1 # </td>
                <td> Element 2 # </td>
                <td> Element 3 # </td>
                <td> Element 4 # </td>
                <td> Element 5 # </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
