<div class="container">
  <div class="card card-fluid">
    <h3 class="card-header"> Carpeta de imagenes </h3>

    <div class="card-body">

      <div class="row sm-4">
        <%= render @images %>
      </div>

    </div>

<!--    <div class="row sm-4">-->
      <%#= render @images %>
<!--    </div>-->

    <div class="card-footer text-right">
      <span class="mx-1"></span>
    </div>

  </div>
</div>
