<div class="card card-fluid">
  <h3 class="card-header"> Crear nueva imagen </h3>
  <div class="card-body">
    <div class="row sm-4">
      <%= render 'images/form' %>
    </div>
  </div>

  <div class="card-footer text-right">
    <span class="mx-1"></span>
  </div>
</div>