<p>Hola mundo desde la vista New (Image) => mejorar new.html.erb </p>

<%= form_for :image, url: images_path do |f| %>
    <%= f.label :description %>
    <br>
    <%= f.text_field :description %>
    <br>
    <%= f.submit %>
<% end %>